@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Manrope:wght@600&family=Poppins&family=Roboto:wght@400;500&family=Rubik:wght@400;500;600&display=swap");
:root {
  --primary-color: #405BD8;
  --primary-light-color: #4e73e3;
  --primary-dark-color: #3043c5;
}
html,
body {
  height: 100%;
  font-family: "Manrope", sans-serif;
  color: #060606;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.bg-about {
  background: url(../images/About\ bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.bg-blog {
  background: url(../images/Blog\ bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.article-bg {
  background: url(../images/article/articlebg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1276px;
  margin: 0 auto;
  padding: 0 30px;
}

.title-top {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 80px;
}
.title-medium {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  text-transform: capitalize;
}

.small-title {
  color: $small-title;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
}

.inner {
  padding-top: 144px;
}

.color-orange {
  color: var(--primary-color);
}


.button-offer {
  display: flex;
  padding: 12px 40px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  background: rgba(249, 123, 34, 0.98);
  color: $white;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.04px;
}

.collagge-arrow:hover,
// li a.menu__btn:active,
.reviews-arrow:active,
.reviews-arrow:hover,
.carousel-arrow:active,
.carousel-arrow:hover {
  color: $white;
  background-color: var(--primary-color);
}

.footer__copyright-l:hover,
.footer_social-link:hover,
.footer__info-tel:hover,
.footer__info-email:hover,
.footer_social-link:hover,
.menu__list-exit:hover,
.menu__list-item:hover .menu__list-nav,
nav button.active {
  color: var(--primary-color);
}

.menu__link--active .menu__list-nav,
.menu__link--active .a_parent-arrow.menu__list-drop {
  color:#f97b22;
}
.menu__link--active .a_parent-arrow.menu__list-drop
.blog-box__item,
input[type="submit"],
.button-offer,
li a.menu__btn,
.blog-box__blocks-text,
.blog-box__top-text,
.menu__list-exit:hover,
.menu__list-item:hover .menu__list-nav,
li a.menu__btn,
.menu__list-link,
.menu__list-link {
  transition: all 0.3s ease;
}
input[type="submit"]:active,
a.button-offer:active,
// a.menu__btn:active,
.reviews-arrow:active,
.reviews-arrow:hover,
.carousel-arrow:active,
.carousel-arrow:hover {
  color: $white;
  background-color: var(--primary-color);
}

a.menu__btn:hover {
  border: 1px solid #ff974e;
  background-color: #ff974e;
  color: $white;
}
.subwrap:hover .subsubtext,
 .subwrap:hover,
input[type="submit"]:hover,
.button-offer:hover {
  background-color: #ff974e;
  color: $white;
}

// .menu__list-link:focus,
.blog-box__blocks-text:hover,
.blog-box__top-text:hover {
  color: #ff974e;

}

input[type="submit"]:active {
  color: $white;
  background-color: var(--primary-color);
}

.blog-box__item:hover{
box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.10);
}
