@media (max-width: 992px) {
  .container {
    padding: 0 15px;
  }
  .menu__list {
    gap: 20px;
  }
  .footer__info {
    padding-right: 30px;
  }
  .footer__right {
    display: flex;
  }
  .footer__social-item {
    width: 100%;
  }
}

@media (max-width: 790px) {
  .menu__list-exit,
  .menu__list {
    gap: 10px;
    font-size: 14px;
  }
  .header__btn-menu {
    display: none;
  }
  .footer__info-email,
.footer__copyright-link,
  .footer__info,
  .footer__social-item,
.footer__copyright-copy{
    font-size: 12px;
}
  .footer__copyright-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer__social-title{
     font-size: 16px;
     padding-bottom: 10px;
  }
}

@media (max-width: 610px) {
  .header__btn-menu {
    display: block;
    background-color: transparent;
    position: relative;
    z-index: 12;
  }
  .logo {
    position: relative;
    z-index: 12;
  }
  .header__btn-menu span {
    background-color: #060606;
    width: 37px;
    height: 3px;
    border-radius: 4px;
    display: block;
    margin: 6px 0;
    transition: all 0.3s;
  }

  .header__btn-menu:hover span {
    background-color: #f97b22;
  }
  .header__inner {
    display: block;
  }
  .header__inner-blocks {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    background-color: $white;
    width: 100%;
    position: relative;
    z-index: 11;
    text-align: center;
    transform: translateY(-440px);
    transition: all 0.8s;
  }
  .menu--open {
    transform: translateX(0px);
  }
  .menu__list {
    display: block;
    padding-top: 10px;
    align-items: center;
    text-align: center;
  }
  .menu__list li,
  .menu__list,
  .menu__list-nav {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .menu__list-link {
    padding: 10px 0;
  }
  .menu__btn {
    text-align: center;
    width: 60px;
    margin: 20px auto;
  }
  .menu__list-btn {
    padding-bottom: 10px;
  }

  .footer__copyright-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer__inner{
    flex-wrap: wrap;
  }
  .footer__list,
  .footer__list,
  .footer__menu,
  .footer__info{
    width: 45%;
    align-items: left;
    text-align: left;
    padding-bottom: 10px;
  }
}
