@media (max-width: 992px) {
  .container {
    padding: 0 15px;
  }
  .menu__list {
    gap: 20px;
  }
  .footer__info {
    padding-right: 30px;
  }
  .footer__right {
    display: flex;
  }
  .footer__social-item {
    width: 100%;
  }
  .top__inner{
    padding: 40px;
    text-align: center;
  } 
  .top__inner-text{
    text-align: center;
    padding: 20px 10px;
  }
   form {
    margin-top: 40px;
    flex-wrap: wrap;
    width: fit-content;

  }
  .select-wrapper #datePicker{
    padding-right: 22px;
    border: 1px solid $border-color;
  }
  input[type="submit"],
.form-btn {
  justify-content: center;
  align-items: center;
  max-width: 31px;
  text-align: center;
  padding-left: 15px;
  border: 1px solid $border-color;
}
.button,
input[type="text"] {
 gap: 20px;
 max-width: 147px;
 white-space: nowrap;
}

}

@media (max-width: 790px) {
  .menu__list-exit,
  .menu__list {
    gap: 10px;
    font-size: 14px;
  }
  .header__btn-menu {
    display: none;
  }
  .footer__info-email,
.footer__copyright-link,
  .footer__info,
  .footer__social-item,
.footer__copyright-copy{
    font-size: 12px;
}
  .footer__copyright-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer__social-title{
     font-size: 16px;
     padding-bottom: 10px;
  }
  .title-top{
    font-size: 40px;
    line-height: 40px;
    padding: 30px 0;
  }
  .top__inner-text{
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
  }
  form {
    display: block;
    width: fit-content;
    border: none;
  }
  input[type="submit"],
.form-btn {
  border-radius:8px;
  max-width: 170px;
  padding-right: 0;
  padding-left: 0;
}
.button,
input[type="text"] {
 gap: 20px;
 max-width: 170px;
 height: 100%;
 white-space: nowrap;
 border-right: none;

}
}

@media (max-width: 610px) {
  .header__btn-menu {
    display: block;
    background-color: transparent;
    position: relative;
    z-index: 12;
  }
  .logo {
    position: relative;
    z-index: 12;
  }
  .header__btn-menu span {
    background-color: #060606;
    width: 37px;
    height: 3px;
    border-radius: 4px;
    display: block;
    margin: 6px 0;
    transition: all 0.3s;
  }

  .header__btn-menu:hover span {
    background-color: #f97b22;
  }
  .header__inner {
    display: block;
  }
  .header__inner-blocks {
    display: flex;
    justify-content: space-between;
  }
  .menu {
    background-color: $white;
    width: 100%;
    position: relative;
    z-index: 11;
    text-align: center;
    transform: translateY(-440px);
    transition: all 0.8s;
  }
  .menu--open {
    transform: translateX(0px);
  }
  .menu__list {
    display: block;
    padding-top: 10px;
  }
  .menu__list li,
  .menu__list{
  margin: 0 auto;
  }
  .menu__btn {
    text-align: center;
    width: 60px;
    margin: 20px auto;
  }
  .a_parent {
    padding-bottom: 10px;
  }
  .menu__list-link{
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: left; 
    padding: 10px 0;
  }

  .footer__copyright-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .footer__inner{
    flex-wrap: wrap;
  }
  .footer__list,
  .footer__list,
  .footer__menu,
  .footer__info{
    width: 45%;
    align-items: left;
    text-align: left;
    padding-bottom: 10px;
  }
  .title-top{
    font-size: 32px;
    line-height: 32px;
  
  }
  .top__inner-text{
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .top{
    margin-top: -350px;
  }
 
  
}
