@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.logo {
  background: url("../images/logo.png");
  width: 72px;
  height: 56px;
  background-size: contain;
}
.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 24px 0;
  }
  &__btn-menu {
    display: none;
  }
}
.menu {
  &__list {
    display: flex;
    gap: 32px;
    align-items: center;
  }
  &__list-link {
    font-weight: 500;
    letter-spacing: -0.256px;
    display: flex;
  }
  &__list-exit {
    font-size: 15px;
    font-weight: 700;
  }
  &__btn {
    display: flex;
    padding: 12px 40px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    border: 1px solid $color-orange;
  }
}
a.menu__btn {
  color: $color-orange;
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.04px;
}
.menu__list-arrow {
  display: none;
}
.navbar ul li .dd_menu-activ {
  position: relative;
}

.navbar .dd_menu {
  position: absolute;
  top: 60px;
  left: 380px;
  right: 720px;
  display: none;
  z-index: 1;
  padding: 20px 0;
}

// .navbar .a_parent.active span,
// .navbar .a_parent:hover span {
//   color: $color-orange;
// }

.navbar .menu__list-item.dd_menu-activ .a_parent .a_parent-arrow img {
  transform: rotate(180deg);
}

.navbar .menu__list-item.dd_menu-activ:hover .a_parent .a_parent-arrow img {
  transform: rotate(0deg);
}

.navbar .menu__list-item.dd_menu-activ .dd_menu {
  display: none;
}

.navbar .menu__list-item.dd_menu-activ.active .dd_menu {
  display: block;
}
.navbar .menu__list-item.dd_menu-activ:hover .menu__list-nav {
  color: $color-orange;
}

// .navbar ul li:hover .dd_menu {
//   display: block;
// }

.dd_menu-wrapper {
  width: 736px;
  height: 472px;
  border-radius: 4px;
  background: #eff3f9;
  padding: 8px;
}

.navbar .dd_menu:before {
  content: "";
  position: absolute;
  top: -9px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border: 15px solid;
  border-color: transparent transparent #eff3f9 transparent;
}

.navbar ul li a.a_parent.active + .dd_menu {
  display: block;
}

.dd_menu-wrapper {
  max-width: 736px;
  height: 409px;
  border-radius: 4px;
  background: #eff3f9;
  display: block;
  padding: 8px;
}

.content input {
  display: none;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content .list {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 20%;
  margin-right: 50px;
}

.content .list label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  display: flex;
  padding: 16px 14px;
  transition: all 0.3s ease;
  z-index: 10;
  margin-bottom: 10px;
  width: 190px;
}

.content .slider {
  position: absolute;
  left: 0;
  top: 0;
  height: 40px;
  width: 210px;
  border-radius: 12px;
  transition: all 0.5s ease;
  border-radius: 4px;
  background: #fff;
}

.content .slider:before {
  content: "";
  position: absolute;
  top: 50px;
  left: 210px;
  z-index: 3;
  border: 15px solid;
  transform: rotate(180deg);
  border-color: transparent $white transparent transparent;
}
.content .slider::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 220px;
  z-index: 2;
  border: 15px solid;
  transform: translateX(50%);
  transform: rotate(180deg);
  border-color: transparent #eff3f9 transparent transparent;
}

#home:checked ~ .list .slider {
  top: 0;
}

#blog:checked ~ .list .slider {
  top: 120px;
}

.content .text-content {
  display: flex;
  width: 472px;
  padding: 24px 24px 24px 20px;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  height: 360px;
  background-color: $white;
  border-radius: 4px;
}

.content .text {
  display: none;
}

.quality__left-text,
.menu__list-nav-li{
  white-space: nowrap;
}
.content .text-content-link {
  display: flex;
  width: 432px;
  padding: 12px 16px;
  align-items: center;
  gap: 12px;
}

.content .text-content-link:hover .menu-info-text,
.content .text-content-link:hover {
  border-radius: 8px;
  background: $color-orange;
  color: $white;
}
.text-content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.menu-img {
  width: 48px;
  height: 48px;
}
.menu-title-sub,
.menu-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.256px;
}
.menu-text,
.menu-info-text {
  color: #7c869b;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -0.256px;
}
.menu-text {
  font-size: 11px;
  font-weight: 400;
}

.content .text-content .home {
  display: block;
}

#home:checked ~ .text-content .home,
#blog:checked ~ .text-content .blog,
#help:checked ~ .text-content .help,
#code:checked ~ .text-content .code,
#about:checked ~ .text-content .about {
  display: block;
}

#blog:checked ~ .text-content .home,
#help:checked ~ .text-content .home,
#code:checked ~ .text-content .home,
#about:checked ~ .text-content .home {
  display: none;
}

.footer {
  &__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 32px;
    border-bottom: 1px solid rgba(10, 20, 47, 0.06);
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 470px;
  }
  &__logo {
    width: 97px;
    height: 76px;
  }
  &__info-tel {
    margin-top: 8px;
  }
  &__info-email {
    font-size: 14px;
  }
  &__right {
    display: flex;
    gap: 32px;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__social-item {
    width: 176px;
    font-size: 14px;
    opacity: 0.75;
  }
  &__social-title {
    font-size: 18px;
    font-weight: 500;
    padding-bottom: 24px;
    white-space: nowrap;
  }
  &__copyright {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 32px;
  }
  &__copyright-link {
    display: flex;
    font-size: 14px;
    opacity: 0.75;
    gap: 65px;
    padding-right: 5px;
  }
}

// HOME PAGE

.top {
  &__inner {
    padding: 72px 0;
  }
  &__inner-text {
    text-align: center;
    padding: 24px 104px 48px;
  }
}
.form {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  display: flex;
  border-radius: 8px;
  border: 1px solid $border-color;
  background: $white;
  align-items: center;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  width: 880px;
}

.select-group {
  position: relative;
}

.button {
  display: flex;
  align-items: center;
  background-color: transparent;
  outline: none;
  border: none;
  border-right: 1px solid var(--borders-light, #e7e8e9);
  padding: 14px 16px;
  justify-content: space-between;
  position: relative;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  width: 200px;
}

label {
  font-weight: 400;
}

.arrow {
  border: solid #323232ee;
  border-width: 0 2px 2px 0;
  padding: 2.5px;
  transform: rotate(45deg);
}

.dropdown {
  position: absolute;
  width: 100%;
  overflow: hidden;
  border-radius: 4px;
  border: 1px solid $border-color;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}
.option-second,
.option {
  display: none;
}

.select-item {
  display: block;
  display: flex;
  height: 40px;
  padding: 10px 16px;
  align-items: center;
  gap: 8px;
  background-color: $white;
  position: relative;
  z-index: 11;
}

.select-item:hover {
  border-radius: 4px;
  background: #eff3f9;
}

.hidden {
  display: none;
}

input[type="text"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  display: flex;
  color: #060606;
  padding: 14px 16px;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid $border-color;
  width: 200px;
}
input[type="text"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
.ui-datepicker .ui-state-hover,
.ui-datepicker-calendar .ui-state-active {
  display: flex;
  justify-content: center;
  background-color: #f97b22 !important;
  color: $white;
  border-radius: 50%;
}

#datePicker::placeholder {
  color: #060606;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
.ui-datepicker {
  color: #060606;
  text-align: center;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  background-color: $white;
  padding: 20px 24px;
  width: 328px;
  align-items: center;
  text-align: center;
}
.ui-datepicker .ui-state-default,
.ui-datepicker .ui-datepicker-header {
  border: none;
  background-color: transparent;
  padding: 10px 9px;
  align-items: center;
  text-align: center;
}
.ui-datepicker .ui-datepicker-year,
.ui-datepicker .ui-datepicker-month {
  font-size: 16px;
  font-weight: 500 !important;
  line-height: 24px;
}

.ui-datepicker-header .ui-datepicker-prev:hover,
.ui-datepicker-header .ui-datepicker-next:hover {
  background: none !important;
  border: none;
}

input[type="submit"],
.form-btn {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  background: $color-orange;
  letter-spacing: -0.04px;
  color: $white;
  border-radius: 0px 8px 8px 0px;
  font-weight: 600;
  padding: 16px 54px;
  width: 100%;
}
.select-wrapper {
  position: relative;
}
.select-wrapper::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);

  display: block;
  width: 20px;
  height: 20px;
  background-image: url("../images/Home/expand_more.png");
  pointer-events: none;
}

.bg {
  margin: 0 auto;
  width: 100%;
}
.bg__image {
  max-height: 600px;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 100%;
}

.quality {
  &__block {
    display: flex;
    justify-content: space-between;
    gap: 73px;
    padding-top: 56px;
  }
  &__left {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 73px;
  }
  &__left-number {
    font-size: 36px;
    font-weight: 700;
    line-height: 64px;
  }
  &__left-text {
    color: $light-grey;
    font-size: 24px;
    line-height: 32px;
  }
  &__right {
    font-size: 16px;
    max-width: 610px;
    line-height: 24px;
  }
}

.tab-pane {
  display: none;
}
.tab-content {
  display: flex;
  justify-content: center;
  align-content: center;
}

.block.double-width {
  grid-column: span 1;
  grid-row: span 4;
}
.tab-pane.active {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}

.tabs {
  display: flex;
  gap: 16px;
  align-items: center;
}

.tab {
  height: 24px;
  display: flex;
  padding: 10px 24px 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 46px;
  border: 1px solid $border-color;
  font-size: 14px;
}

.icon-tab {
  width: 24px;
  height: 24px;
}

.tab.active {
  background: $color-orange;
  color: $white;
  transition: background-color 0.5s ease-in-out;
}

.service {
  &__tabs {
    display: flex;
    justify-content: space-between;
    padding-bottom: 55px;
    font-size: 14px;
    font-weight: 600;
  }
}

.block {
  display: flex;
  max-width: 248px;
  padding: 24px 16px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid $border-color;
  background: url(../images/Home/bg-tab-block.png);
  background-size: cover;
}
.service__block-img {
  width: 48px;
  height: 48px;
  padding-bottom: 24px;
}
.service__block-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 8px;
}
.service__block-text {
  font-size: 14px;
  align-self: stretch;
}

.process {
  &__inner {
    display: flex;
    align-items: center;
    gap: 136px;
  }
  &__left {
    width: 592px;
    padding: 44px 0;
  }
  &__right-blocks {
    display: flex;
    width: 488px;
    align-items: flex-start;
    gap: 40px;
  }
  &__nums {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  &__nums-line {
    width: 2px;
    height: 88px;
    border-radius: 100px;
    background: linear-gradient(
      180deg,
      #ff8b25 -22.16%,
      #ff8b25 44.01%,
      #e7e8e9 44.02%
    );
  }
  &__nums-item {
    width: 28px;
    height: 28px;
    border: 1px solid $border-color;
    border-radius: 50%;
    text-align: center;
  }
  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  &__info-item {
    display: flex;
    padding: 17px 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 14px;
    width: 384px;
  }
  &__info-text {
    color: #475467;
    font-size: 14px;
  }
}

.quote {
  margin: 160px 0;
  &__title {
    text-align: center;
    font-family: Raleway;
    font-size: 64px;
    font-weight: 700;
    line-height: 88px;
    text-transform: uppercase;
    max-width: 800px;
    margin: 0 auto;
  }
}

.job {
  &__inner {
    padding-bottom: 64px;
  }
  &__inner-block {
    display: flex;
    justify-content: space-between;
    gap: 32px;
  }
  &__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
  }
}

.collage {
  margin: 0 auto;
  max-width: 100%;
  &__inner {
    max-width: 100%;
    max-height: 464px;
    overflow: hidden;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 56px;
    max-height: 464px;
    align-items: flex-end;
    margin-right: -130px;
    margin-left: -20px;
    overflow: hidden !important;
  }
  &__one {
    grid-row: span 2;
    max-width: 328px;
    max-height: 464px;
  }
  &__two-top {
    padding-top: 80px;
    max-width: 392px;
    max-height: 264px;
  }
  &__three {
    max-width: 360px;
    max-height: 384px;
    grid-row: span 2;
    padding-top: 80px;
  }
  &__four {
    grid-row: span 2;
    max-width: 193px;
  }
  &__four-top {
    max-height: 240px;
    padding-bottom: 32px;
  }
  &__four-bottom {
    max-width: 193px;
    max-height: 192px;
  }
}

.blog-box {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 54px;
  }
  &__top-link {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__top-text {
    font-weight: 500;
    text-transform: capitalize;
  }
  &__top-img {
    width: 20px;
    height: 20px;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-radius: 12px;
    border: 1px solid $border-color;
    background: $white;
  }
  &__img {
    border-radius: 12px;
    max-height: 208px;
  }
  &__link-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;
  }
  &__item-title {
    padding: 16px 0 0;
  }
  &__date {
    @extend %blog-data;
  }
  &__item-text {
    @extend %blog-text;
    padding: 12px 0 20px;
  }
  &__blocks {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__blocks-text {
    font-size: 14px;
    font-weight: 600;
  }
}

.partners {
  &__inner {
    margin: 138px 0 142px;
  }
  &__blocks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 64px;
    gap: 32px;
  }
  &__blocks-text {
    color: #5a5a5a;
    max-width: 49%;
  }
}

.carousel {
  &__slide-flex {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__slide-img {
    margin: 20px 35px;
    max-width: 104px;
    max-height: 104px;
    object-fit: cover;
  }
}
.carousel-container,
.carousel__container {
  position: relative;
  width: 100%;
  height: 232px;
  overflow: hidden;
}
.carousel__inner {
  position: relative;
}

.carousel-slide,
.carousel__slide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  // max-width: 50%;
  animation: fade 1s;
}
.carousel-slide.active,
.carousel__slide.active {
  display: block;
}

.reviews-arrows,
.carousel-arrows {
  position: absolute;
  right: 0;
  padding-top: 24px;
}
.collagge-arrow,
.reviews-arrow,
.carousel-arrow {
  width: 32px;
  height: 32px;
  display: inline-block;
  transition: background-color 0.5s ease;
  border-radius: 35px;
  border: 1px solid $color-orange;
  margin-left: 10px;
  color: $color-orange;
}

.reviews {
  &__inner-flex {
    display: flex;
    justify-content: space-between;
    gap: 104px;
    padding-bottom: 40px;
  }
  &__title {
    max-width: 42%;
  }
  &__inner {
    width: 100%;
  }
}

.reviews {
  &-slide {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &-slide-author {
    display: flex;
    gap: 14px;
  }
  &-slide-img {
    width: 36px;
    height: 36px;
    padding: 6px 0;
  }
  &-block-name {
    font-size: 14px;
    font-weight: 700;
  }
  &-block-text {
    color: #4e4e4e;
    font-size: 14px;
  }
  &-arrows {
    position: absolute;
    bottom: 0;
  }
}

.partners__blocks-text {
  max-width: 592px;
}

.question {
  &__inner {
    padding: 150px 0;
  }
  &__items {
    padding-top: 48px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    cursor: pointer;
  }
  &__deploy-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
  }
  &__deploy[open] {
    border-radius: 15px;
    background: rgba(249, 123, 34, 0.26);
    padding: 24px;
  }
  &__deploy:not([open]) {
    background: rgba(0, 0, 0, 0.04);
    border-radius: 15px;
    padding: 24px;
  }
  &__deploy[open] .deploy__arrow {
    transform: rotate(270deg);
  }
}
.deploy__arrow {
  display: flex;
  padding: 16px;
  align-items: flex-start;
  border-radius: 100px;
  background: #fff;
}

.question__deploy summary::-webkit-details-marker,
.question__deploy summary::before {
  content: none;
}

.question__deploy summary {
  list-style: none;
}

.deploy__info-text {
  font-size: 16px;
  max-width: 782px;
}

.deploy__subtitle {
  font-weight: 500;
  line-height: 40px;

  font-size: 20px;
}
// ---PAGE ABOUT----

.descriptoin__inner {
  padding: 71px 0 56px;
}
.women-img,
.bg-team__inner {
  max-height: 604px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
}

.why__img {
  width: 32px;
  height: 32px;
  padding-bottom: 16px;
}

.advantages {
  &__inner-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 73px;
  }
  &__inner-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 10px 0;
  }
  &__subtitle {
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
  }
  &__text {
    color: #595959;
    font-size: 14px;
    font-style: normal;
  }
}

.asset {
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    padding-top: 56px;
  }
  &__item {
    padding: 24px 16px;
    border-radius: 12px;
    border: 1px solid $border-color;
    background: url(../images/Home/bg-tab-block.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.photo {
  &__inner {
    margin: 88px auto 144px;
    max-width: 1440px;
    align-items: end;
  }
  &__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 32px;
    column-gap: 56px;
    overflow: hidden;
    max-height: 464px;
    align-items: center;
    margin-right: -50px;
  }
}
.photo__two,
.photo__three {
  grid-row: span 2;
}
.photo-first {
}
.photo-first-top {
  //  max-height: 264px;
  //  max-width: 324px;
}
.photo-first-bottom {
  //  max-width: 324px;
}
.photo__two {
  max-height: 464px;
  max-width: 324px;
}
.photo__three {
  max-width: 360px;
  max-height: 384px;
}
.photo__four-top {
  //   max-width: 265px;
  //  max-height: 240px;
}
.photo__four-bottom {
  //  max-height: 192px;
  //  max-width: 265px;
}

.founder {
  margin: 0 auto;
  &__inner-left {
    left: 0;
    top: 0;
    max-width: 592px;
    max-height: 428px;
    margin-left: -40px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: end;
  }

  &__inner-img {
    left: 0;
  }
  &__inner-right {
    max-width: 600px;
    right: 0;
  }
  &__subtitle {
    font-size: 20px;
    font-weight: 600;
    line-height: 32px; /* 160% */
    letter-spacing: 0.5px;
    text-transform: uppercase;
    padding: 4px 0 24px;
  }
}

.about-form {
  &__inner {
    padding: 144px 0;
  }
  &__block {
    padding: 48px 103px;
    border-radius: 16px;
    background: #fff;
    box-shadow: 0px 4px 6px -2px rgba(16, 24, 40, 0.03),
      0px 0px 16px -4px rgba(16, 24, 40, 0.08);
  }
  &__inner-title {
    align-items: start;
    width: 1010px;
  }
  &__inner-title select {
    align-items: center;
    width: 140px;
    margin: 14px 16px;
  }
  &__title {
    padding-bottom: 48px;
  }
  &__form {
    display: flex;
    justify-content: left;
  }
}

// ---PAGE BLOG---

.blog-top__inner {
  padding: 96px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

// ---PAGE ARTICLE---

.article__data {
  font-weight: 600;
}

.article-top__img {
  padding-top: 57px;
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 516px;
}

.text {
  &__items {
    padding: 0 104px 34px;
    display: flex;
    flex-direction: column;
    gap: 48px;
  }
  &__item-title {
    @extend %article-title;
  }
  &__item-paragraph {
    font-size: 18px;
    @extend %article-paragraph;
  }
  &__item-subtitle {
    padding-bottom: 16px;
    @extend %article-subtitle;
  }
  &__item-conclusion {
    display: flex;
    padding: 32px 32px 40px 32px;
    flex-direction: column;
    border-radius: 16px;
    background: $bg-conclusion;
  }
  &__writer {
    display: flex;
    padding-top: 24px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-top: 1px solid #eaecf0;
  }
  &__writer-inner {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  &__link-icon-two {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid var(--borders-light, #e7e8e9);
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  &__link-icon-two,
  &__link-icon {
    max-width: 20px;
    max-height: 20px;
  }
  &__writer-name {
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
  }
  &__writer-position {
    color: #595959;
    font-weight: 400;
    line-height: 24px;
  }
  &__link-block {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
  }
  &__link {
    padding: 10px 16px;
    display: flex;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid $border-color;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
  &__link-text {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
  &__link-social {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid $border-color;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
}

//---PAGE SERVICES--

.services-top__inner {
  padding: 72px 0 56px;
}
.women-img-bg {
  width: 100%;
}
.slider {
  max-height: 551px;
  padding-top: 88px;
}
.job__left {
  max-width: 500px;
}

.profitably__text-items {
  color: #595959;
}

.collagge-container {
  margin: 0 auto;
}
.collagge {
  padding-bottom: 24px;
  padding-top: 88px;
  border-radius: 16px;
}

.collagge-content {
  max-width: 1216px;
  border-radius: 16px;
  background-color: #eff3f9;
  position: relative;
}
.collagge-arrows {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 23px;
}

button.dot {
  border: none;
  background-color: #f97b22; /* Оранжевий колір за замовчуванням */
  border-radius: 50%;
  width: 12px;
  height: 12px;
  transition: background-color 0.3s ease;
  opacity: 0.3;
}

.dot.active {
  opacity: 1;
}
.carousel-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 0 24px;
}

@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

.collagge-content {
  position: relative;
  width: 1216px;
  height: 488px;
  border-radius: 16px;
  .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: 1216px 100%;
    border-radius: 16px;
  }
  .foreground-img {
    width: 50%;
    border-right: 2px solid #eff3f9;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .slider {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 100%;
    background: rgba(#f2f2f2, 0.3);
    outline: none;
    margin: 0;
    transition: all 0.2s;
    @include center;

    &:hover {
      background: rgba(#f2f2f2, 0.1);
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 2px;
      height: 600px;
      background: #eff3f900;
      cursor: pointer;
    }
    &::-moz-range-thumb {
      height: 600px;
    }
  }

  .slider-button {
    $size: 64px;
    pointer-events: none;
    position: absolute;
    width: $size;
    height: $size;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
    @include center;
  }
}
.profitably-items {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-top: 24px;
}
.profitably-left {
  max-width: 50%;
}
.profitably-img img {
  align-items: end;
}

.menu__list-second {
  display: none;
}

//  Animation

.process-wrapper {
	margin:auto;
  max-width: 1216px;
	display: flex;
	justify-content: space-between;
	gap: 130px;
	align-items: center;
padding-bottom: 16px;
}

#progress-bar-container {
	position:relative;
  width: 50%;
	margin:auto;
  max-height: 536px;
}

#progress-bar-container ul{
	padding-top:15px;
	z-index:99;
	width:100%;
}

// #progress-bar-container li::before {
//   content: "";
//   top: 2px;
//   left: 0;
//   display: block;
//   margin: auto;
// }


.circular{
  height: 32px;
  width: 32px;
  position: relative;
  
    box-shadow:
    0 0 0 0px #e8e4e400, 
    0 0 0 5px white;   
    background-color: white;
    z-index: 7;

  }
.circular .iner, .circular .outer, .circular .circle{
  position: absolute;
  z-index: 6;
  height: 100%;
  width: 100%;
  border-radius: 100%;
}
.circular .iner{
  top: 0%;
  left: 0%;
  height: 28px;
  width: 28px;
  margin: 2px 0 0 2px;
  background-color: white;
  border-radius: 100%;
z-index: 10;
}
.step.active .circular .iner{
  animation: animationCombined 0.1s forwards;
  animation-delay: 5s;
}
.circular .circle{
  z-index: 1;
  box-shadow: none;
}
.circular .numb{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  color:  #475467;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 100%; 
}
.circular .bar{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #E8E4E4;
  -webkit-border-radius: 100%;
  clip: rect(0px, 32px, 32px, 16px);
}
.circle .bar .progress{
  position: absolute;
  height: 32px;
  width: 32px;
  -webkit-border-radius: 100%;
  clip: rect(0px, 16px, 32px, 0px);
}
.circle .bar .progress, .dot span{
  background: $color-orange;
}
.step.active .circle .left .progress{
  z-index: 1;
  animation: left 2.5s linear both;
}
@keyframes left {
  100%{
    transform: rotate(180deg);
  }
}
.circle .right{
  z-index: 3;
  transform: rotate(180deg);
}
.step.active .circle .right .progress{
  animation: right 2.5s linear both;
  animation-delay: 2.5s;
}
@keyframes right {
  100%{
    transform: rotate(180deg);
  }
}
.circle .dot{
  z-index: 2;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50%;
  height: 1px;
  margin-top: -0px;
  animation: dot 5s linear both;
  transform-origin: 0% 50%;
}
.circle .dot span {
  position: absolute;
  right: 0;
  width: 0px;
  height: 0px;
  border-radius: 100%;
}
@keyframes dot{
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
    z-index: 4;
  }
  100% {
    transform: rotate(280deg);
    z-index: 4;
  }
}

    @keyframes animationCombined {
    100% {
      background-color: #F97B22;
      background-image: url('../images/Home/check.svg');
      background-repeat: no-repeat;
      align-items: center;
      background-position: center;
    z-index: 11;
    }
  }

#progress-bar-container li {
	width:20%;
	transition:all ease 0.2s;
	vertical-align:bottom;
	height: 117px;
	position:relative;
	display: flex; 
  flex-direction: column; 
  justify-content: center;  
}

#progress-bar-container li .step-inner {
	position:absolute;
	max-width: 384px;
	top: -18px;
	left: 80%;
	display: flex;
	flex-direction: column;
}
#progress-bar-container li .step-inner h3{
	color:  #101828;
font-size: 20px;
font-weight: 600;
line-height: 32px; 
padding-bottom: 10px;
padding-top: 20px;
margin: 0;
}
#progress-bar-container li .step-inner p{
	color:  #475467;
font-size: 14px;
width: 384px;
margin: 0;
}
.step-number{
z-index: 8;
margin-top: -115px;
color:  #475467;
text-align: center;
font-family: Manrope;
}

#progress-bar-container #line {
	display: flex;
	width: 2px;
height: 460px;
	margin:auto;
	border-radius: 100px;
background: #E7E4E4;
	position:absolute;
	left:15px;
	top: 0;
	z-index:1;
	transition:all ease 0.9s;
}

#progress-bar-container #line-progress {
	content:" ";
	width:100%;
	height:0%;
	background: #F97B22;	 
	background: linear-gradient(to bottom, #F97B22,#F97B22 100%); 
	position:absolute;
	z-index:5;
	border-radius:50px;
	transition:all ease 6s;
}

.video,
#progress-content-section {
  align-items: center;
  text-align: center;
	max-width: 592px;
max-height: 448px;
	border-radius: 4px;
}


#progress-content-section .section-content {
	display:none;
	animation: FadeInUp 700ms ease 1;
	animation-fill-mode:forwards;
	transform:translateY(15px);
	opacity:0;
  margin-top: 90px;
 background-size: contain;
}

#progress-content-section .section-content.active {
	display:block;
  width: 542px;
height: 448px;
background-size: contain;
}

@keyframes FadeInUp {
	0% {
		transform:translateY(15px);
		opacity:0;
	}
	
	100% {
		transform:translateY(0px);
		opacity:1;
	}
}


@import "media";
